<!-- Header & Footer content -->
{% extends 'base.html' %}

        {% block content %}

        {% if cart_products %}

        <div class="container p-5">

            <div class="table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in cart_products %}

                        <tr>
                            <td>
                                <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;">
                            </td>
                            <td>
                                <a href="#" class="text-primary text-decoration-none">{{ product.name }}</a>
                            </td>
                            {% if product.is_sale %}
                                <td> TK.{{ product.sale_price }} </td>
                            {% else %}
                                <td> Tk.{{ product.price }} </td>
                            {% endif %}
                            
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                <td> {{ value }} </td>
                                {% endif %}
                            {% endfor %}
                            
                            <td>
                                <button id="remove_item" class="btn btn-outline-danger btn-sm" data-index="{{ product.id }}" ><i class="bi bi-trash"></i></button>
                            </td> 
                        </tr>
                        
                        {% endfor %}

                        <tr>
                            <td colspan="4" class="text-end"><strong>Total :</strong></td>
                            <td>Tk {{ totals }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        
            <div class="d-flex justify-content-end my-4">
                <button class="btn btn-primary">
                    <a class="text-white text-decoration-none"  style="color: #ffffff !important;" href="{% url 'home' %}"> Return To Shop </a>
                </button>
            </div>
        
                <div class="row g-4 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cart Total</h5>
                            <div class="d-flex justify-content-between mb-3">
                                <span>Total (Shipping fees not included)</span>
                                <span class="text-primary">Tk {{ totals }}</span>
                            </div>

                            <div class="d-grid gap-2 d-md-block">
                                <button class="btn btn-primary text-white w-100">
                                    <a class="text-white text-decoration-none" style="color: #ffffff !important;" href="{% url 'checkout' %}"> 
                                        Procees to checkout 
                                    </a>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

        </div>

        {% else %}
            <div class="mt-4 container fs-4" style="height:50rem" >There's Nothing In Your Cart...</div>
            
        {% endif %}
        {% endblock %}

