<!-- Header & Footer content -->
{% extends 'base.html' %}

        {% block content %}
        <!-- Header-->
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">A Journeyed Through Time With Books</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <p class="fs-4 mt-3 mb-3">
                    Welcome to our book resale website, a haven for book lovers and collectors alike. We specialize in offering a diverse range of books, from cherished classics and rare antiques to the latest bestsellers. Whether you're seeking to relive the magic of an old favorite, discover hidden gems from bygone eras, or add a new title to your collection, we have something for everyone. , <br/><br/>
                    
                    Our mission is to bring books back to life, giving them a new home where they can be appreciated and enjoyed once more. We believe that every book has a story beyond its pages <br/><br/>
                    
                    <span class="text-danger">—whether it’s an antique edition that has journeyed through time or a recent release that’s waiting to be read. </span> <br/><br/>
                    
                    Join us on this literary adventure as we celebrate the timeless appeal of books and make them accessible to all. Rediscover the joy of reading, one book at a time. <br/><br/>
                </p>
            </div>
        </div>
        {% endblock %}