{% load static %}
<footer class="footer bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <!-- Logo and Subscribe -->
            <div class="col-md-3">
                <h5>BookRevive</h5>
                <p>Subscribe</p>
                <p>Get 10% off your first order</p>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <button class="btn btn-outline-light" type="button">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
            <!-- Support -->
            <div class="col-md-3">
                <h5>Support</h5>
                <p>111 Bijoy sarani, Dhaka,</p>
                <p>DH 1515, Bangladesh.</p>
                <p>bookrevive@gmail.com</p>
                <p>+88015-88888-9999</p>
            </div>
            <!-- Account -->
            <div class="col-md-2">
                <h5>Account</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'update_user' %}" class="text-white text-decoration-none">My Account</a></li>
                    <li><a href="{% url 'login' %}" class="text-white text-decoration-none">Login / Register</a></li>
                    <li><a href="{% url 'cart_summary' %}" class="text-white text-decoration-none">Cart</a></li>
                    <li><a href="{% url 'home' %}" class="text-white text-decoration-none">Shop</a></li>
                </ul>
            </div>
            <!-- Quick Links -->
            <div class="col-md-2">
                <h5>Quick Link</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Terms Of Use</a></li>
                    <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                    <li><a href="{% url 'contact' %}" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <!-- Download App -->
            <div class="col-md-2">
                <h5>Download App</h5>
                <p>App Is Comming</p>
                <div class="d-flex">
                    <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0">&copy; Copyright BookRevive 2024. All rights reserved</p>
            </div>
        </div>
    </div>      
</footer>