<!-- Header & Footer content -->
{% extends 'payment/admin_base.html' %}

  {% block content %}
  <section class="p-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Product List</h3>
        <a class="btn btn-sm btn-outline-primary" href="{% url "upload_product" %}">Upload</a> 
      </div> 

      <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Image</th>
              <th scope="col">Category</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for product in products %}
            <tr>
                <th scope="row"><a class="text-decoration-none text-dark" href="">#{{ product.id }}</a></th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="50"></td>
                <td>{{ product.category.name }}</td>
                <td>
                    <a href="{% url 'product_edit' product.id %}" class="btn btn-sm btn-secondary text-white">Edit</a>
                    <a href="{% url 'product_delete' product.id %}" class="btn btn-sm btn-danger  text-white">Delete</a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
  </section>
  {% endblock %}