<!-- Header & Footer content -->
{% extends 'payment/admin_base.html' %}

  {% block content %}

  <section class="my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Upload Product</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'upload_product' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Upload Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </section>


{% endblock %}

